:root {
    --bg-light: linear-gradient(to bottom, teal, white);
    --bg-dark: linear-gradient(to bottom, teal, black);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

[data-bs-theme="light"] body {
    background-image: var(--bg-light);
}

[data-bs-theme="dark"] body {
    background-image: var(--bg-dark);
}

body {
    background-size: cover; /* Stellt sicher, dass das Hintergrundbild den gesamten Bereich abdeckt */
}


.card {
    background-color: var(--bs-tertiary-bg);
    border: none; /* Entfernt den Rahmen */
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
}

h4 {
    color: var(--bs-tertiary-color);
    text-transform: uppercase;
    font-size: 1.1rem;
}
