body {
    background-color: #c8d8e4;
}

.navbar {
    background-color: #f2f2f2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-top: 10px;
}
