body {
    background-image: linear-gradient(to right, darkslategrey, black) ;
}

.card {
    background-color: var(--bs-tertiary-bg);
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
}

h4 {
    color: var(--bs-tertiary-color);
    text-transform: uppercase;
    font-size: 1.1rem;
}
